:root{
    --blanco: #fff;
    --grey: #575e55;
    --icon: #48e;
    --secundario: #e8a249;
    --dark: #000;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /* 1rem = 10px */
    font-family: "ABeeZee", sans-serif;
}

.header__h1{
    text-align: center;
    font-size: 3.8rem;
    font-weight: bold;
    font-style: normal;
}

.header__span{
    font-size: 2rem;
    
    font-weight: 400;
    font-style: italic;
}

.icon-map__pin{
    color: var(--icon);
    width: 70px;
    height: 70px;
}

.icon-palette, .icon-laptop, .icon-card{
    color: var(--grey);
    width: 40px;
    height: 40px;
}